body {
    background: #eee !important;
}
.img{
    position: absolute;
    width: 100%;
    height: 700px;
}
.wrapper {
    position: relative;
    top: 90px;
    left: 50px;
    z-index: 5;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0 0 9px black;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.form-control{
    margin-bottom: 15px !important;
}

.form-signin-heading{
    text-align: center;
    font-size: 27px;
}
.form-signin-heading,
.checkbox {
    margin-bottom: 30px;
}

.checkbox {
    font-weight: normal;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}

input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#sign-up{
    margin-top: 12px;
}
.alert{
    width: 30% !important;
    margin: 0 auto;
    margin-bottom: 12px;
}
.drop{
    width: 35% !important;
}