<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="style.css"/>

</head>
<body>
    <div class="site-navbar-wrap js-site-navbar bg-white">

        <div class="container">
            <div class="site-navbar bg-light">
                <div class="py-1">
                    <div class="row align-items-center">
                        <div class="col-2">
                            <h2 class="mb-0 site-logo"><a href="index.html" th:href="@{/index}">Suites</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <img src="images/hero_3.jpg" class="img img-responsive">
    <div class="wrapper">


        <div class="alert alert-primary fade show animated bounceInUp" role="alert" th:if="${error}">
            <p>Please provide the correct and required credentials</p>
        </div>

        <div class="alert alert-success fade show animated bounceInUp" role="alert" th:if="${user}">
            <p>You have been successfully registered <b th:text="${name}"></b></p>
        </div>

        <form class="form-signin" method="post">
            <h2 class="form-signin-heading">LOGIN</h2>
            <input type="email" class="form-control" name="email" placeholder="Email Address" required/>
            <input type="password" class="form-control" name="password" placeholder="Password" required/>
            <label class="checkbox">
                <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
            </label>
            <button class="btn btn-lg btn-secondary btn-block" type="submit">SIGN IN</button>

            <p class="text-center" id="sign-up"><b>Don't have an account? </b><a href="signup.html" th:href="@{/signup}" class="lead text-warning">SIGN UP</a></p>
        </form>
    </div>

    <script src="js/bootstrap.min.js"></script>
</body>
</html>