<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SIGN UP</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="style.css"/>

</head>
<body>

<div class="site-navbar-wrap js-site-navbar bg-white">

    <div class="container">
        <div class="site-navbar bg-light">
            <div class="py-1">
                <div class="row align-items-center">
                    <div class="col-2">
                        <h2 class="mb-0 site-logo"><a href="index.html" th:href="@{/index}">Suites</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<img src="images/hero_2.jpg" class="img img-responsive">
<div class="wrapper">

    <div class="alert alert-primary fade show animated bounceInUp" role="alert" th:if="${error}">
        Please provide the correct and required credentials
    </div>

    <form class="form-signin" method="post" th:action="@{/signup}" th:object="${createUser}">
        <h2 class="form-signin-heading">CREATE AN ACCOUNT</h2>
        <input type="text" class="form-control" name="name" placeholder="Your Name" />
        <input type="text" class="form-control" name="username" placeholder="Username" />
        <input type="email" class="form-control" name="emailAddress" placeholder="Email Address" />
        <input type="password" class="form-control" name="password" placeholder="Password" />
        <select name="gender" class="form-control drop">
            <option label="Gender"></option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>

        <button class="btn btn-lg btn-secondary btn-block" type="submit">SIGN UP</button>

    </form>
</div>

<script src="js/bootstrap.min.js"></script>
</body>
</html>